/**
*  Components are imported in specific (scope based) order:
*  1. Node_modules
*  2. Application
*  3. Module
*/

import React, { PropTypes as ptype, Component } from 'react';

{{#if wantCSS}}
import styles from './styles.css';
{{/if}}

/**
* {{ properCase name }}
* @desc TODO: desc for {{ properCase name }}
*/
class {{ properCase name }} extends Component {
  render() {
    return (
      {{#if wantCSS}}
      <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
      {{else}}
      <div>
      {{/if}}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
